<MarketplaceDetails>
  <SmallAppTile>test.png</SmallAppTile>
  <ScreenShots>4.png;5.png;6.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>1.png;2.png;3.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>wp_ss_20130904_0004.png;wp_ss_20130904_0005.png;wp_ss_20130904_0006.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>